<div id="registration-form"
     data-action-path="<%= path(:auth_registrations) %>"
     data-csrf-token="<%= csrf_token %>"
     data-suggested-name="<%= suggested_name %>"
     data-privacy-policy-path="<%= path(:privacy_policy) %>"
     data-terms-of-service-path="<%= path(:terms_of_service) %>"
     <% if error %>data-error="<%= error %>"<% end %>></div>
<script src="<%= island_src("registration_form") %>" type="module"></script>
