<section class="section">
  <div class="container is-max-tablet">
    <h1 class="title"><%= t("registration-title") %></h1>
    <% if error %>
      <div class="notification is-danger is-light"><%= error %></div>
    <% end %>
    <form action="<%= path(:auth_registrations) %>" method="post">
      <input type="hidden" name="_csrf_token" value="<%= csrf_token %>">
      <input type="hidden" id="timezone" name="timezone" value="UTC">
      <script nonce="<%= content_security_policy_nonce %>">
        document.getElementById("timezone").value =
          Intl.DateTimeFormat().resolvedOptions().timeZone;
      </script>
      <div class="field">
        <label class="label" for="name">
          <span class="icon-text">
            <span class="icon"><i class="fa-solid fa-id-badge"></i></span>
            <span><%= t("registration-username") %></span>
          </span>
        </label>
        <div class="control">
          <input class="input" type="text" id="name" name="name"
                 value="<%= suggested_name %>"
                 pattern="[a-zA-Z0-9][a-zA-Z0-9_\-]{0,37}[a-zA-Z0-9]|[a-zA-Z0-9]"
                 maxlength="39" required autofocus>
        </div>
        <p class="help"><%= t("registration-username.help") %></p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">
            <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
            <span><%= t("registration-submit") %></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
