<section class="section">
  <div id="user-header"
       data-user-name="<%= user_name %>"
       data-display-name="<%= display_name || "" %>"
       data-avatar-url="<%= avatar_url || "" %>"
       data-is-owner="<%= is_owner %>"></div>

  <div class="container">
    <div id="tab-recent-maps" data-tab-panel="user-tabs" data-user-name="<%= user_name %>"
         data-relative-timestamps="<%= viewer_relative_timestamps? %>"
         data-viewer-timezone="<%= viewer_timezone %>"></div>

    <% if is_owner %>
      <div id="tab-profile" class="is-hidden" data-tab-panel="user-tabs" data-user-name="<%= user_name %>"></div>

      <div id="tab-preferences" class="is-hidden" data-tab-panel="user-tabs" data-user-name="<%= user_name %>"></div>

      <div id="tab-credentials" class="is-hidden" data-tab-panel="user-tabs"
           data-user-name="<%= user_name %>"
           data-omniauth-token="<%= omniauth_authenticity_token %>"></div>

      <div id="tab-danger" class="is-hidden" data-tab-panel="user-tabs"
           data-user-name="<%= user_name %>"
           data-action-path="/@<%= user_name %>"
           data-csrf-token="<%= csrf_token %>"></div>
    <% end %>
  </div>
  <script src="<%= island_src("user_header") %>" type="module"></script>
  <script src="<%= island_src("user_maps_tab") %>" type="module"></script>
  <% if is_owner %>
    <script src="<%= island_src("user_profile_tab") %>" type="module"></script>
    <script src="<%= island_src("user_preferences_tab") %>" type="module"></script>
    <script src="<%= island_src("user_credentials_tab") %>" type="module"></script>
    <script src="<%= island_src("user_danger_tab") %>" type="module"></script>
  <% end %>
</section>
