<div class="card">
  <% if thumbnail_url %>
    <div class="card-image">
      <figure class="image is-square">
        <a href="/@<%= user_name %>/maps/<%= map_ulid %>">
          <img src="<%= thumbnail_url %>" alt="<%= map_display_name %>">
        </a>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <a href="/@<%= user_name %>/profile">
          <%= render "shared/avatar", avatar_url: author_avatar_url, avatar_size: 32 %>
        </a>
      </div>
      <div class="media-content">
        <p class="title is-6">
          <a href="/@<%= user_name %>/maps/<%= map_ulid %>"><%= map_display_name %></a>
        </p>
        <p class="subtitle is-7">
          <a href="/@<%= user_name %>/profile"><%= author_display_name %></a>
        </p>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item" style="gap:0.5rem">
      <div class="map-info-button-mount" data-metadata-url="<%= metadata_url %>"></div>
      <div class="share-buttons-mount"
           data-map-path="/@<%= user_name %>/maps/<%= map_ulid %>"
           data-map-name="<%= map_display_name %>"></div>
    </div>
  </footer>
</div>
