<div class="card">
  <% if thumbnail_url %>
    <div class="card-image">
      <figure class="image is-square">
        <a href="/@<%= user_name %>/maps/<%= map_ulid %>">
          <img src="<%= thumbnail_url %>" alt="<%= map_display_name %>">
        </a>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <p class="title is-6">
      <a href="/@<%= user_name %>/maps/<%= map_ulid %>"><%= map_display_name %></a>
    </p>
    <p class="subtitle is-7 has-text-grey">
      <a href="/@<%= user_name %>/profile"><%= author_display_name %></a>
    </p>
  </div>
</div>
