<div class="card">
  <% if thumbnail_url %>
    <div class="card-image">
      <figure class="image is-square">
        <a href="/@<%= user_name %>/maps/<%= map_ulid %>">
          <img src="<%= thumbnail_url %>" alt="<%= map_display_name %>">
        </a>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
      <p class="title is-6" style="margin-bottom: 0;">
        <a href="/@<%= user_name %>/maps/<%= map_ulid %>"><%= map_display_name %></a>
      </p>
      <% if metadata_url %>
        <div class="map-info-button-mount" data-metadata-url="<%= metadata_url %>"></div>
      <% end %>
    </div>
    <p class="subtitle is-7 has-text-grey mt-2">
      <a href="/@<%= user_name %>/profile">
        <%= render "shared/avatar", avatar_url: author_avatar_url, avatar_size: 32 %>
        <%= author_display_name %>
      </a>
    </p>
  </div>
</div>
