<section class="section">
  <div class="container">
    <% maps.each do |map| %>
      <% user = users_by_id[map.user_id] %>
      <div class="box">
        <a href="/@<%= user.name %>/maps/<%= map.ulid %>"><%= map.display_name %></a>
        <span class="has-text-grey-light is-size-7"><%= user.name %></span>
      </div>
    <% end %>

    <nav class="pagination" role="navigation">
      <% if page > 1 %>
        <a class="pagination-previous" href="/?page=<%= page - 1 %>">Previous</a>
      <% end %>
      <% if page * per_page < total %>
        <a class="pagination-next" href="/?page=<%= page + 1 %>">Next</a>
      <% end %>
    </nav>
  </div>
</section>
