<div class="map-viewer-page">
  <% island_css_srcs("map_viewer").each do |href| %>
  <link rel="stylesheet" href="<%= href %>">
  <% end %>
  <div id="map-viewer"
       data-ulid="<%= ulid %>"
       data-display-name="<%= display_name %>"
       data-author-name="<%= author_name %>"
       data-author-display-name="<%= author_display_name %>"
       <% if author_avatar_url %>data-author-avatar-url="<%= author_avatar_url %>"<% end %>
       <% if updated_at %>data-updated-at="<%= updated_at.iso8601 %>"<% end %>
       <% if viewer_name %>data-viewer-name="<%= viewer_name %>"<% end %>></div>
</div>
<script src="<%= island_src("map_viewer") %>" type="module"></script>
