<% content_for :canonical_url, url(:map_viewer, user_name: author_info.name, ulid: ulid) %>
<% content_for :og_data, {title: display_name, description: "by #{author_info.display_name}", image: thumbnail_url, updated_time: updated_at&.iso8601} %>
<style nonce="<%= content_security_policy_nonce %>">
  html, body { height: 100%; overflow: hidden; }
  body { display: flex; flex-direction: column; }
</style>
<div class="map-viewer-page">
  <% island_css_srcs("map_viewer").each do |href| %>
  <link rel="stylesheet" href="<%= href %>">
  <% end %>
  <div id="map-viewer"
       data-ulid="<%= ulid %>"
       data-display-name="<%= display_name %>"
       data-author-name="<%= author_info.name %>"
       data-author-display-name="<%= author_info.display_name %>"
       <% if author_info.avatar_url %>data-author-avatar-url="<%= author_info.avatar_url %>"<% end %>
       <% if updated_at %>data-updated-at="<%= updated_at.iso8601 %>"<% end %>
       <% if viewer_name %>data-viewer-name="<%= viewer_name %>"<% end %>
       data-relative-timestamps="<%= relative_timestamps %>"></div>
</div>
<script src="<%= island_src("map_viewer") %>" type="module"></script>
